<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">						
    <link rel="stylesheet" href="css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="top-header"> 
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo" width="350px">
            <div class="buscador">
                <div class="input">Buscar productos, marcas</div>
                <span class="lupa"><i class="fa fa-search"></i></span>
            </div>
            <p> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
       
        
        <nav>
            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>
               
                <li><a href="#">Tiendas Oficiales</a>
                </li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a> 
                </li>
                
            </ul>

        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
       
    </header>

    <main id="registro">
      <form class="formularios" action="/" method="get">
            <div>
                <input class="text-field" type="text" name="fullName" placeholder="Nombre y Apellido">
           
            <div>
                <input class="text-field" type="text" name="usuario" placeholder="Nombre de usuario">
            </div>
            <div>
                <label for="nacimiento">Fecha de nacimiento</label>
            </div>
           <div>
                <input class="text-field" type="date" id="nacimiento" name="nacimiento">
           </div>
            <div>
                <input class="text-field" type="email" name="email" placeholder="E-Mail">
            </div>
            <div>
                <input class="text-field" type="text" name="domicilio" placeholder="Domicilio">
            </div>
           <div>
            <h3>Tipo de perfil</h3>
            <label for="Comprador">Comprador</label>
           </div>
            <div>
                <input type="radio" name="perfil" value="Comprador" id="Comprador">
            </div>
           <div>
                <label for="Vendedor">Vendedor</label>
           </div>
           <div>
            <input type="radio" name="perfil" value="Vendedor" id="Vendedor">
           </div>
           <h3>Intereses</h3>
            <div class="selecciones">
               
                <input type="checkbox" name="interes" value="electro" id="electro">
                <label for="electro">Electro</label>
                <input type="checkbox" name="interes" value="moda" id="moda">
                <label for="moda">Moda</label>
                <input type="checkbox" name="interes" value="hogar" id="hogar">
                <label for="hogar">Hogar</label>
                <input type="checkbox" name="interes" value="jugueteria" id="jugueteria">
                <label for="jugueteria">Jugueteria</label>
                <input type="checkbox" name="interes" value="vidaSana" id="vidaSana">
                <label for="vidaSana"> Vida Sana</label>
            </div>
            <div>
                <label for="fotoPerfil">Imagen de usuario</label>
                <input type="file" name="fotoPerfil" id="fotoPerfil">
            </div>
           <div>
                <input class="text-field" type="password" name="contrasenia" placeholder="Contraseña">
                <input class="text-field" type="password" name="confirmarContrasenia" placeholder="Confirmar Contraseña">
           </div>
           
            <div>
                <button class="botonSubmit" type="submit">Enviar</button>
                <button class="botonReset" type="reset">Cancelar</button>
            </div>
       

      </form>

    </main>
    <footer>
        <div>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p> 
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </div>
        <div>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
         
        </div>
    </footer>
</body>
</html>

